* {
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  position: relative;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  height: 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
}

header nav {
  flex: 1;
  overflow-x: auto;
  overflow-y: hidden;
}

header nav::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
}
header nav::-webkit-scrollbar-thumb {
  height: 5px;
  width: 5px;
  background-color: blue;
}

header .tabs {
  height: 40px;
  display: flex;
  flex-wrap: nowrap;
}

header .tabs > * {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
.tabs .tab {
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.3rem 0.5rem;
  cursor: default;
  color: #fff;
  border-left: 1px solid #666;
  border-bottom: 1px solid #fff;
  background-color: #333;
  transition: 0.3s;
}

.tabs .tab i {
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.tabs .tab i:hover {
  filter: brightness(0.8);
}

.tabs .tab:not(.active, .create):hover,
.tabs .tab.create:hover i {
  filter: brightness(1.4);
}

.tabs .tab.create i {
  background-color: #333;
  border-radius: 4px;
  font-size: 1.3rem;
  transition: 0.3s;
}

.tabs .tab:not(.create) i {
  opacity: 0;
  visibility: hidden;
}

.tabs .tab.active {
  color: #000;
  background-color: #fff;
}

.tabs .tab.active + .tab,
.tab:first-child {
  border-right: none;
  border-left: none;
}
.tabs .tab.active i {
  opacity: 1;
  visibility: visible;
}

.canvas {
  background-color: #fff;
  cursor: crosshair;
  min-height: calc(100vh - 40px);
  min-width: 100vw;
  max-width: 100vw;
  max-height: calc(100vh - 40px);
}

.settings {
  display: flex;
  max-width: 452px;
  position: relative;
}

.colorArea {
  display: flex;
  gap: 0.5rem;
  height: 40px;
  z-index: 100;
  padding: 0.5rem;
  align-items: center;
}
.color {
  height: 30px;
  width: 30px;
  cursor: pointer;
  border-radius: 50%;
}
.color.active {
  border: 5px solid #fff;
}

.optionsArea {
  z-index: 100;
  height: 40px;
  width: 100%;
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  align-items: center;
  justify-content: space-around;
}

.option {
  font-size: 36px;
  color: #fff;
  cursor: pointer;
}
.option.active {
  color: blue;
}

.option:hover {
  filter: brightness(0.7);
}

.rangeArea {
  position: absolute;
  top: 0;
  right: 0;
  height: 120px;
  width: 296px;
  padding: 1rem;
  visibility: hidden;
  opacity: 0;
  background-color: #333;
  border-bottom-left-radius: 1rem;
  transition: 0.3s;
}
.rangeArea.show {
  top: calc(40px - 1rem);
  visibility: visible;
  opacity: 1;
}

.rangeArea input {
  display: block;
  width: 100%;
}

.sizeOption {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  font-size: 24px;
  gap: 0.4rem;
  color: #fff;
  cursor: pointer;
}

.clear {
  border: 1px solid #000;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 8px;
  cursor: pointer;
  border-radius: 10px;
}

.clear:hover {
  filter: brightness(0.9);
}

dialog {
  color: #fff;
  left: 50%;
  top: 50%;
  background-color: #666;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 20px;
  border-radius: 20px;
  transition: 0.3s;
}

dialog h1 {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}
dialog button {
  display: block;
  margin: 0 auto;
  margin-bottom: 5px;
  padding: 0.4rem 2rem;
  border-radius: 10px;
  transition: 0.3s;
}

dialog button:hover {
  filter: brightness(0.9);
  cursor: pointer;
}
